.form {
  label {
    display: inline;
  }
}

.moon {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 1px;
  transform: rotate(45deg);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.sun {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 1px;
  transform: rotate(45deg);
  transition: all 250ms ease-in-out;
  cursor: pointer;
}