@import './variables.scss';

body {
	margin: 0;
	font-family: 'Lato', 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main,
section {
	scroll-margin: 59px;
}

label {
	display: flex;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
