.brand {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
}

.toggle {
  border: none;
}

.darktoggle {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  path {
    fill: white;
  }
}

.iconinverted {
  width: 1.5rem;
  height: 1.5rem;
  path {
    fill: black;
  }
}

.transition {
  transition: all 250ms ease-in-out;
}